<article>
    <img class="listing-photo" [src]="housingLocation?.photo">
    <section class="listing-description">
        <h2 class="listing-heading">{{housingLocation?.name}}</h2>
        <p class="listing-location">{{housingLocation?.city}}, {{housingLocation?.state}}</p>
    </section>
    <section class="listing-features">
        <h2 class="listing-heading">About this house location</h2>
        <u>
            <li>Units available: {{housingLocation?.availableUnits}}</li>
            <li>Does location have wifi: {{housingLocation?.wifi}}</li>
            <li>Does location hava laundry: {{housingLocation?.laundry}}</li>
        </u>
    </section>
    <section class="listing-apply">
        <h2 class="section-heading">Apply now to live here</h2>
        <form [formGroup] = "applyForm" (submit) ="submitApplication()">
            <label for="first-name">First name</label>
            <input id="first-name" type="text" formControlName="firstName">

            <label for="last-name"> name</label>
            <input id="last-name" type="text" formControlName="lastName">

            <label for="email">E-mail</label>            
            <input id="email" type="email" formControlName="email">

            <button class="primary" type="submit">Apply now</button>
        </form>
        
    </section>
</article>